* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
body {
    margin: 0;
    padding: 0;
    line-height: 1;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

pre{
    margin: 0;
}

li, ul, ol{
    list-style: none;
}

p, span{
    padding: 0;
    margin: 0;
}

h1{
    font-size: 48px;
}

h3{
    padding-left: 10px;
    font-size: larger;
}

h4{
    padding: 0;
    margin: 5px 0;
}

h5{
    margin: 5px 0;
}

.wrapper{
    width: 100vw;
}

.main{
    width: 100%;
    margin: 0 auto;
}

.container {
    min-width: 980px;
    background-color: #edeef0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
    
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}

.left-content {
    padding: 20px 10px;
    width: 40%;
    background-image: url('/img/0_hero.webp');
    color: #ffffff;
}

.right-content {
    width: 60%;
    padding: 20px 10px 20px 40px;
}

.photo {
    display: flex;
    justify-content: center;
    width: 100%;
}
.photo__cv-photo{
    width: 70%;
}

.cv-photo__photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.contacts-list__item {
    display: flex;
    align-items: center;
    
    margin: 5px 0;
}

.contacts-list__item__svg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 50%;
}

.contacts-list__item__svg img{
    width: 100%;
    height: 100%;
}

ul li span{
    font-size: smaller;
}

.right-p{
    line-height: 18px;
}

.cv-title{
    margin-top: 15px;
    margin-bottom: 10px;
}

.footer {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    background-color: #edeef0;
}

.code{
    overflow: hidden;
}

.code-js{
    margin-left: -100px;
    overflow-x: scroll;
}

.footer_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;

    width: 100%;
}

.footer__link{
    height: 50px;
}

.footer__link img{
    width: 100%;
    height: 100%;
}